.addTableForm {
   display: flex;
   justify-content: right;
   align-items: center;
}

.addTableForm input {
    width: 40px;
    text-align: center;
    margin: 0 10PX;
}

.mainBox {
    text-align: right;
}


.btn {
    margin-right: 20px
}





