.holder {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   border-bottom: 1px solid rgb(203, 203, 203);

}

li {
    position: relative;
    list-style-type: none;
    height: 40px;
}

.spanOne {
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}

.spanTwo {
    font-size: 15px

}

@media (min-width:0px) and (max-width:420px) {
   
.holder {
    height: 80px;
    display: block;
 }
}