
.tables {
   position: relative;
   margin: 0;
   padding: 0;
   line-height: normal; 
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height: 550px;
   overflow-y: scroll;
   align-content: flex-start;
   -ms-overflow-style: none;
   scrollbar-width: none;  
   padding-bottom: 100px;
}

.table-list::-webkit-scrollbar {
   display: none; 
}

.spinnerBox {
   position: absolute;
   left: 50%;
   top: 80%;
   transform: translate(-50%, -50%)
}