.mainBox {
    position: relative;
    display: flex;
    align-items: center;
}
 
.pageTitle {
    font-family: 'Manrope', Courier, monospace;
    font-size: 25px;
    display: inline-block;
    font-weight: 300;
}

.glass {
    cursor: pointer;
    width: 23px;
    margin-bottom: 10px;
    margin-left: 10px
}

.searchInput {
    margin-left: 10px;
    display: inline-block;
    width: 0;
    opacity: 0;
    transition: width 1s ease, padding 1s ease, opacity 1s ease;
}

/* The styles below are applied only when the input has both 'search-input' and 'visible' classes */
.searchInput.visible {
    width: 163px;
    opacity: 1;
}

.hidden {
    display: none;
}
