
.select {
    width: 200px;
    display: inline;
}

.hide {
    display: none;
}

.label1 {
    padding-right: 15px;
}

.label2 {
    display: inline-block;
    padding-right: 11px;
}

.label3 {
    display: inline-block;
    padding-right: 37px;
}


.label4 {
    display: inline-block;
    padding-right: 17px;
}

.input {
    width: 35px;
    display: inline-block;
}

.formType {
    margin: 10px 0;
}

.textarea {
   height: 80px;
   max-height: 80px;
}








