
.select {
    width: 200px;
    display: inline;
}

.hide {
    display: none;
}

.label1 {
    padding-right: 15px;
}

.label2 {
    display: inline-block;
    padding-right: 11px;
}

.label3 {
    display: inline-block;
    padding-right: 37px;
}


.label4 {
    display: inline-block;
    padding-right: 17px;
}

.formType {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.formType textarea {
    position: relative;
    display: inline-block;
    width: 200px;
}

.input {
    width: 35px;
    display: inline-block;
}

.formType {
    margin: 10px 0;
}

.textarea {
   height: 20px;
}

.slider1_btn {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    cursor: pointer;
}

.orderBox {
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
}
.slider1_content {
    z-index: 5;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.slider1_btnActive {
    box-shadow: 0px 2px 3px rgb(151, 151, 151)
}

.slider1_content_visible {
    opacity: 1;
    max-height: 500px; /* Adjust this value based on the maximum height needed */
}


.slider2_btn {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    cursor: pointer;
    margin-top: 5px;
}

// .slider2_btnActive {
//     box-shadow: 0px 2px 3px rgb(151, 151, 151)
// }


.slider2_content {
    z-index: 5;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    border-bottom: 1px solid black;
}

.slider2_content_visible {
    opacity: 1;
    max-height: 100vh;
}

.title {
    font-family: 'Manrope', Courier, monospace;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
  }

  .vSymbolBox{
    display: flex;
    align-items: center;
  }

  .vSymbol {
    display: inline-block;
    width: 15px;
    height: 7px;
  } 

  .vSymbolRotateDown {
    animation: flipDown 300ms forwards;
    @keyframes flipDown {
        from {
            transform: rotateX(0deg);
        }
        to {
            transform: rotateX(180deg);
        }
    }
  }

  .vSymbolRotateUp {
    animation: flipUp 300ms forwards;
    @keyframes flipUp {
        from {
            transform: rotateX(180deg);
        }
        to {
            transform: rotateX(0deg);
        }
    }
  }


.formBox {
    height: 80vh;
    overflow: hidden;
}

.blurInfo {
    list-style: none;
    padding: 0;
    margin: 0;
}


.btn {
    position: fixed;
    z-index: 5;
    width: 50px;  /* Adjust button size as needed */
    height: 50px; /* Adjust button size as needed */
    background-color: #ff4d4d; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 50%; /* Make it a circular button */
    font-size: 24px; /* Font size for the + sign */
    cursor: pointer;
    display: block;
    position: absolute;
    right: 12px;
    bottom: 85px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Add a shadow for better visibility */
  }




