.imgFoodItem {
    width: 37px;
}

.itemMainBox {
    flex: 0 1 calc(33.3333% - 20px); /* Adjust the percentage and margin for desired width and spacing */
    text-align: right;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.settings  {
    width: 16px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 0px;
}

.mainBoxItems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    text-align: center;
}

.mainBoxItems img {
    z-index: 0;

}

.mainBoxItems li {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.price {
    position: absolute;
    left: 0px;
    color: grey;
    font-size: 11px;
}