.title {
    font-family: 'Manrope', Courier, monospace;
    font-size: 25px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 20px
}

.orderBox ul {
    margin: 0;
    padding: 0;
}

