
.orderBox {
    position: relative;
    flex: 1;
    height: 130px;
    width: 100px;
    max-width: 90px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
    margin: 5px 0;
}


.orderAmount {
    width: 120px;
    display: block;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orderCost {
    max-width: 30px;
    position: absolute;
    text-align: right;
    top: 6px;
    right: 6px;
}

.orderCost p {
    padding: 0;
    margin: 0;
}


.inputAmount {
    padding: 0;
    padding-left: 3px;
    max-width: 25px;
    margin: 0 5px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
}

.btnAdd, .btnSub {
    position: relative;
    height: 22px;
    width: 22px;
    padding: 0;
}

.orderView {
    margin-top: 10px;
    height: 90px;
    width: 120px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foodPicture {
    position: absolute;
    max-width: 35px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foodDescription {
    position: absolute;
    color: red;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    margin-top: 4px;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    accent-color: rgb(0, 0, 0);
}



