.background {
    position: absolute;
    width: 319px;
    background-color: rgb(113, 113, 113); /* Change this to your desired background color */
    height: 70px; /* Adjust height as needed */
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    display: flex;
    z-index: 2;
    bottom: 0;
}

.iconBox img {
    margin-top: 15px;
    width: 37px;
    filter: opacity(0.4) drop-shadow(0px 0px 0px rgb(146, 146, 146));
    transition: width 300ms ease;
}

.iconBoxJump img {
    animation: notify 900ms forwards;
    @keyframes notify {
        10% {
            transform: translateY(0) rotateZ(0deg);
        }
        20% {
            transform:  translateY(-10px) rotateZ(-20deg) ;
        }
        30% {
            transform:  translateY(-10px) rotateZ(20deg);
        }
        40% {
            transform:  translateY(-10px) rotateZ(-25deg)
        }
        50% {
            transform:  translateY(-10px) rotateZ(25deg)
        }
        60% {
            transform:  translateY(-10px) rotateZ(-30deg)
        }
        70% {
            transform: translateY(-10px) rotateZ(30deg)
        }
        80% {
            transform: translateY(-10px) rotateZ(-45deg)
        }
        90% {
            transform: rotateZ(45deg)
        }
        100% {
            transform: rotateZ(0deg)
        }
    }
}

.iconBox {
    display: flex;
    flex: 1;
    justify-content: center;
    transition: flex 500ms ease;
}

.iconBox:hover img {
    width: 45px;
}

.iconBox:hover {
    flex: 1.2
}

.iconBox.iconBoxSelected img {
    width: 45px;
    filter: opacity(0.7) drop-shadow(0px 0px 0px rgb(255, 255, 255));
}
.iconBox.iconBoxSelected{
    flex: 1.2;
}