.background {
    width: 298px;
    background-color: pink; /* Change this to your desired background color */
    height: 70px; /* Adjust height as needed */
    bottom: 1px;
    position: fixed; /* Fix it at the bottom */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 1px 1px 1px dark;
    display: flex;
    z-index: 2;
}

.iconBox img {
    margin-top: 15px;
    width: 40px;
    color: red;
    transition: width 500ms ease;
}

.iconBoxJump img {
    animation: notify 900ms forwards;
    @keyframes notify {
        10% {
            transform: translateY(0) rotateZ(0deg);
        }
        20% {
            transform:  translateY(-10px) rotateZ(-20deg) ;
        }
        30% {
            transform:  translateY(-10px) rotateZ(20deg);
        }
        40% {
            transform:  translateY(-10px) rotateZ(-25deg)
        }
        50% {
            transform:  translateY(-10px) rotateZ(25deg)
        }
        60% {
            transform:  translateY(-10px) rotateZ(-30deg)
        }
        70% {
            transform: translateY(-10px) rotateZ(30deg)
        }
        80% {
            transform: translateY(-10px) rotateZ(-45deg)
        }
        90% {
            transform: rotateZ(45deg)
        }
        100% {
            transform: rotateZ(0deg)
        }
    }
}


.iconBox {
    display: flex;
    flex: 1;
    justify-content: center;
    transition: flex 500ms ease;
}

.iconBox:hover img {
    width: 45px;
    filter: opacity(0.4) drop-shadow(0px 0px 0px rgb(233, 4, 4));
}

.iconBox:hover {
    flex: 1.2
}

