.formType {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 8px;
}

.circleBox {
    display: flex;
    margin-left: 10px;
}

.circle {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(208, 208, 208);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}

.circle h6 {
    padding: 11px 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
}

.selected {
    color: red;
}