.cont {
    position: relative;
    width: 320px;
    height: 650px;
    border-radius: 40px;
    border-top: 0;
    border: 1px solid grey;
    padding: 0;;
}

.cont .background {
    background-color: pink;
    height: 100px;
}


.background {
    background-color: pink;
    height: 100px;
}


